.container2 {
  width: 100vw;
  height: 100vh;
  padding: 5%;
  box-sizing: border-box;
  transition: background-color 0.3s ease-in;

  .arrow-wrap {
    .arrow-icon {
      fill: #000;
      cursor: pointer;
      width: 10%;
      transition: fill 0.3s ease-in;

      &:hover {
        fill: #fff;
      }
    }
  }
}
